<nav class="navbar">
  <div class="hamburger-menu">
    <a (click)="toogle()">
      <svg viewBox="-5 0 10 8" width="32">
        <line y2="8" stroke="#000" stroke-width="10" stroke-dasharray="2 1" />
      </svg>
    </a>
  </div>

  <ul [ngClass]="{ 'active': active }" (click)="toogle()">
    <li><a href="https://github.com/02900" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/juanortizte/" target="_blank">LinkedIn</a></li>
    <li><a href="https://www.youtube.com/channel/UC_Az4_xfAoNWq0F8QFR9D1w" target="_blank">YouTube</a></li>
    <li><a href="https://02900.github.io/assets/cv.pdf" target="_blank">CV</a></li>
  </ul>
</nav>
