.card {
  max-width: 20rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding-bottom: 0.5rem;

  img {
    height: auto;
    max-width: 100%;
  }

  .card-body {
    padding: 0 0.6rem;

    .card-header {
      display: flex;
      flex-direction: column;
    }

    .card-links {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
    }
  }

  h2,
  p {
    color: black;
  }

  h2 {
    margin: 0.5rem 0;
  }

  p {
    margin: 0 0 0.5rem;
  }
}
