#about {
  position: relative;
  margin: 0 auto;
  padding: 1.5rem 0;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.75);

  .rounded {
    border-radius: 8px;
  }

  .home-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 25rem;
    padding: 0 1.5rem;
  }

  h1 {
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
  }

  .description {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .difuse-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-image: linear-gradient(to bottom, transparent, #000);
  }
}

@media (min-width: 1440px) {
  #about {
    h1 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.25rem;
    }
    max-width: 60rem;

    .home-wrapper {
      max-height: 35rem;
      padding: 0 2.5rem;
    }
  }
}
