<section
  class="d-flex flex-column justify-content-center align-items-center h-100 px-3"
>
  <div id="about" class="rounded py-4">
    <div class="home-wrapper">
      <h1>Juan Ortiz</h1>

      <div class="description">
        <p>
          I studied Computer Science at the Simón Bolívar University in Venezuela, in
          2019 I obtained my bachelor degree.
        </p>

        <p>
          I am a software enginner specialized in frontend web development, 
          with a solid and practical experience in construction of web applications. 
        </p>
          
        <p>
          I have more than 6 years of experience in the IT environment, with solid
          experience in technologies like Angular, Typescript, Stencil, HTML, SCSS, 
          Bootstrap, Git, Bash.
        </p>

        <p>
          I am enthusiastic about Computer Graphics, VR/AR experiences and Game Development. 
          I like solving problems in a optimal way to bring efficiently solutions. 
          I have knowledge with Unity, C#, Godot, SDL2 and C++.
        </p>

        <p>
          Besides hacking the FB accounts in my free time, I also like to watch anime
          being Dragon Ball Z my favorite and every year I see it haha but that was 
          before I meet One Piece, so dbz is in second place.
        </p>
      </div>
    </div>
    <div class="difuse-bg rounded"></div>
  </div>
</section>
