<div
  class="d-flex flex-column align-items-center justify-content-center h-100 px-3"
>
  <h1>Demo Reel</h1>

  <iframe
    src="https://www.youtube.com/embed/NBQ8Mfu8y_c"
    srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/NBQ8Mfu8y_c?autoplay=1><img src=https://img.youtube.com/vi/NBQ8Mfu8y_c/hqdefault.jpg alt='Demo Reel'><span>▶</span></a>"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    title="Demo Reel"
    loading="lazy"
  ></iframe>
</div>
