<section class="container">
  <div class="home">




    <ng-container *ngFor="let project of videogames">
      <ng-container *ngTemplateOutlet="cardTemplate; context: { card: project }"></ng-container>
    </ng-container>
  </div>
</section>


<ng-template #cardTemplate let-card="card">
  <div class="card">
    <picture *ngIf="card.cover">
      <source type="image/webp" [srcset]="card.cover + '.webp'" />
      <img width="320" height="180" [src]="card.cover + '.jpg'" [alt]="card.title" draggable="false" />
    </picture>

    <div class="card-body">
      <div class="card-header">
        <h2>{{ card.title }}</h2>
      </div>

      <div class="card-description">
        <p>{{ card.description }}</p>
        <p>{{ card.subtitle }}</p>
      </div>

      <div class="card-links">
        <a *ngIf="card.link" [href]="card.link.zelda">
          {{ card.link.name }}
        </a>

        <a *ngIf="card.link_alt" [href]="card.link_alt.zelda">
          {{ card.link_alt.name }}
        </a>
      </div>
    </div>
  </div>
</ng-template>
