.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .card {
    max-width: 20rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    img {
      height: auto;
      max-width: 100%;
    }

    .card-body {
      padding: 0 0.6rem;

      .card-header {
        display: flex;
        flex-direction: column;
      }

      .card-links {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
