<main class="container">
  <div class="description">
    <h1>Miguel Ortiz</h1>
    <p>
      ¡Bienvenido! Gracias por tomarte el tiempo de revisar mi portfolio. Estoy
      en constante aprendizaje y crecimiento como ingeniero civil, y
      continuamente agrego nuevos proyectos, características e innovaciones a
      este sitio.
    </p>

    <p>
      Actualmente, estoy trabajando como ingeniero civil independiente, con una
      destacada actividad en la plataforma freelancer.es. Soy egresado de la
      Universidad de Oriente, especializado en Ingeniería Civil. Aquí puedes
      encontrar una selección de mis trabajos más destacados.
    </p>


    <p>
      Disfruto colaborando estrechamente con mis clientes para planificar y
      diseñar espacios eficientes y atractivos. En los últimos años, me he
      enfocado en proyectos de arquitectura que implican la distribución de
      espacios y la incorporación de mobiliario para oficinas, residencias y
      comercios en general.
    </p>

    <p>
      He desarrollado habilidades sólidas para realizar parcelamientos de
      terrenos, así como la distribución de espacios para estacionamientos de
      semi-trailer truck y todo tipo de vehículos. Para estos proyectos,
      utilizo software especializado como Vehicle Tracking de Autodesk, y
      tengo la capacidad de ubicar lotes de terreno con georeferencia.
    </p>

    <p>
      Mi experiencia se extiende durante casi 20 años, y a lo largo de este
      tiempo, he adquirido proficiencia en el uso de diversas herramientas,
      como AutoCAD 2D, Civil 3D, SketchUp, Photoshop e Illustrator. La
      optimización y eficiencia en la ejecución de los proyectos es un aspecto
      que siempre busco mejorar.
    </p>

    <p>
      Uno de los elementos que me apasiona es la exploración de nuevas
      tecnologías y técnicas. Actualmente, estoy estudiando más sobre la
      aplicación de Sketch en proyectos de Arquitectura.
    </p>

    <p>
      En el futuro, me gustaría expandir aún más mis habilidades y
      experiencias en diseño arquitectónico y urbanismo. Agradezco tu interés
      en mi trabajo y espero tener la oportunidad de colaborar en tu próximo
      proyecto.
    </p>
  </div>

  <section>
    <div class="description">
      <h2>Distribucion de terrenos por lotes (Parcelamiento)</h2>

    </div>

    <div class="content">

    </div>
  </section>

  <section>
    <div class="description">
      <h2>Elaboración de Mapas georefrenciados</h2>
    </div>

    <div class="content">

    </div>
  </section>

  <section>
    <div class="description">
      <h2>
        Distribucion de terrenos para estacionamientos Semi-Trailler y vehiculos
        tipos en general
      </h2>
    </div>

    <div class="content">

    </div>
  </section>

  <section>
    <div class="description">
      <h2>Modelado 3D con Sketchup</h2>
    </div>

    <div class="content">

    </div>
  </section>

  <section>
    <div class="description">
      <h2>Plantas de Arquitectura.</h2>
    </div>

    <div class="content">

    </div>
  </section>

  <section>
    <div class="description">
      <h2>Distribucion de espacios e incorporacion de mobiliario.</h2>
    </div>

    <div class="content">

    </div>
  </section>
</main>
