.description {
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto 1rem;

  h1,
  h2 {
    text-align: center;
  }
}

section {
  margin-bottom: 4rem;

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
